doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 퍼그의 제어문 활용하기
  body
    h2 좋아하는 동물 목록
    ul 
      each anAnimal in animals
        li= "귀여운 " + anAnimal 
    h2 좋아하는 카페 목록
    ul 
      each place in cafes
        li= "분위기가 좋은 " + place 
    
    h2 좋으면 보여주고 아니면 말아
    if isGood 
      p 좋아서 보여준 p 태그
    else 
      p 안 좋아서 보여준 p 태그