doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 첫 번째 퍼그 템플릿
    style(type="text/css").
      p{ color: red; }
      div.text{width: 100px; height: 100px; background: orange;}
  body 
    p#text.text(title="말풍선") 안녕하세요
    div.text 나는 컨테이너 태그에요
    .text 나도 컨테이너 태그... 일까요?