doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 웹소켓 연결만
    link(rel="stylesheet", href="/static/style.css")
  body 
    div(class="container")
      div(id="start")
        
      div(id="center")
        ul
      div(id="end")
        form
          input(name="message", type="text", placeholder="MESSAGE...", maxlength="16", autocomplete="off", required)
          button(type="submit") 전송
        
           
 











    script(src="/static/script.js") 