// 중첩을 시험해보자
// 주석도 시험해보자
/*
주석은 자바스크립트와 같다.
그러나 한줄짜리 주석은 컴파일 대상조차 아니다!
*/
.container{
  background-color: yellow;

  h1{
    color: tomato;
  }
  p{
    color: teal;
    
    span{
      color: purple;
    }
  }
}